

<%- include('includes/head') %>


    <main>
        <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="col-md-4">
              <div class="logo">
                <img src="./img/gappylogo_2.png" alt="Gappy Logo" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="hero">
                <h1>Gappy Food Reviews</h1>
                <h1>By Lee Allen</h1>
              </div>
            </div>
          </div>
          <section id="section-acount">
            <div class="row">
              <div class="col-md-4">
                <img src="./img/lee_love_4.png" alt="picture of Lee" />
              </div>
              <div class="col-md-8">
                <div> <!-- class="oyster-img"> -->
                  <!--  -->
                  <h2>About Me</h2>
                  <p>I love food!</p>
                  <p>When I was a kid I was really fussy with food, but that all changed the day I went on a boating trip with my uncle Frank and his late wife Patricia.</p>
                  <p>We went fishing for oysters. My uncle Frank caught one and then took out his pocket knife to open it and handed it to me. 
                    I sucked out all the contents in one go and from that point onwards I was completely addicted!</p>
                    <img src="./img/chef-1417239_1280.png" alt="picture of oysters" />
                </div>  
              </div>
            </div>
              <% errors.forEach(function(message) { %>
                <div class="alert alert-danger small"><%= message %></div>
              <% }) %>
          </section>
          <section id="section-latest">
            <h2>Latest</h2>
            <h3><%= latest.title %></h3>
            <p>Dined at <strong><%= latest.restaurant %></strong> on <i><%= latest.dateAdded.getDate() %>/<%= latest.dateAdded.getMonth() + 1 %>/<%= latest.dateAdded.getFullYear() %></i>
            <div id="ratingarea" class="rating-component"><script>getRatingWidget(<%= latest.rating %>,'#ratingarea');</script></div>
            </p>
            <div class="container-fluid">
              <div class="row">
                <% latest.picArray.forEach((path) => { %>
                  <div class="col-md text-center">
                    <img class="restaurant-image" src="<%= path.path %>" alt="<%= latest.restaurant %> meal">
                  </div>
                <% }) %>
              </div>
            </div>
            <%- filterUserHTML(latest.review) %>
          </section>
          <section id="section-reviews">
            <h2>Reviews</h2>
            <% reviews.forEach((review) => { %>
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= review.picArray[0].path %>" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= review.title %></h5>
                      <div id="rating-<%= review._id %>" class="rating-component" ><script>getRatingWidget(<%= review.rating %>,'#rating-<%= review._id %>');</script></div>
                      <h6 class="card-title"><strong><%= review.restaurant %></strong> on <i><%= review.dateAdded.getDate() %>/<%= review.dateAdded.getMonth() + 1 %>/<%= review.dateAdded.getFullYear() %></i></h6>
                      <p class="card-text"><%= extractFirstParagraph(review.review) %></p>
                      <p class="card-text"><small class="text-muted"><a href="/review/<%= review._id %>/">Read more...</a></small></p>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </section>
        <!-- </div> -->
    </main>
    <footer>
        <div class="row">
            <div class="col-md-12 flex-d justify-content-center">
                <p>By Lee Allen</p>
            </div>
        </div>
    </footer>
</body>

</html>